
/* CSS element changes */
html {
  background-color: black;
  font-family: Verdana; sans-serif;
  text-align: center;
}

h1, h2 {
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

h3 {
  color: gray;
  font-size: 21px;
}

a:default {
  color: aquamarine;
}

a:visited {
  color: aquamarine;
}
