
/* CSS element changes */

/* global page style changes */
html {
  background-color: black;
  font-family: Verdana; sans-serif;
  text-align: center;
}

/* style changes for both main & 2nd heds */
h1, h2 {
  color: white;
}

/* other style changes specific to these selectors */
h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

h3 {
  color: gray;
  font-size: 21px;
}

p {
  font-size: 16px;
}

/* anchor colors follow CA example */
a:default {
  color: aquamarine;
}

a:visited {
  color: aquamarine;
}

/* footer for copyright */
.footer {
  color: gray;
  text-align: right;
}
